
@{
    ViewBag.Title = "Bai12";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div>
    <form action="/Home/Bai12" method="post">
        <label>Nhập số cần làm tròn</label>
        <input type="text" name="txtNumber" />
        <button type="submit">Xác nhận</button>
    </form>
    @{
        if (Request.HttpMethod == "POST")
        {
            <label>Làm tròn Round: @ViewBag.round</label>
            <label>Làm tròn Truncate: @ViewBag.truncate</label>
            <label>Làm tròn Ceiling: @ViewBag.ceiling</label>
            <label>Làm tròn Floor: @ViewBag.floor</label>

        }
    }
</div>

